In [26]:
#统计每天的出现频率
def get_nums_day(timestamp_list):#timestamp_list为包含一组时间戳的列表，例如"2018-04-16T15:40:32Z"\n
    nums_day = {}
    for line in timestamp_list:
        day = line[1:11]
        if nums_day.has_key(day) == False:
            nums_day[day] = 1
        else:
            nums_day[day] += 1
    return sorted([[k, nums_day[k]] for k in nums_day], key = lambda x:x[0], reverse=True)

In [ ]:
#统计每月的出现频率
def get_nums_month(timestamp_list):#timestamp_list为包含一组时间戳的列表，例如"2018-04-16T15:40:32Z"\n
    nums_month = {}
    for line in timestamp_list:
        month = line[1:8]
        if nums_month.has_key(month) == False:
            nums_month[month] = 1
        else:
            nums_month[month] += 1
    return sorted([[k, nums_month[k]] for k in nums_month], key = lambda x:x[0], reverse=True)

In [18]:
#统计每季度的出现频率
def get_nums_quart(timestamp_list):#timestamp_list为包含一组时间戳的列表
    nums_quart = {}
    for line in timestamp_list:
        m = int(line[6:8])
        y = line[1:6]
        if m < 4:
            quart = y + 'q1'
        elif m < 7:
            quart = y + 'q2'
        elif m < 10:
            quart = y + 'q3'
        else:
            quart = y + 'q4'
        if nums_quart.has_key(quart) == False:
            nums_quart[quart] = 1
        else:
            nums_quart[quart] += 1
    return sorted([[k, nums_quart[k]] for k in nums_quart], key = lambda x:x[0], reverse=True)

In [23]:
#统计每年的出现频率
def get_nums_year(timestamp_list):#timestamp_list为包含一组时间戳的列表
    nums_year = {}
    for line in timestamp_list:
        year = line[1:5]
        if nums_year.has_key(year) == False:
            nums_year[year] = 1
        else:
            nums_year[year] += 1
    return sorted([[k, nums_year[k]] for k in nums_year], key = lambda x:x[0], reverse=True)

In [ ]:
def diff_list(data_list):#计算列表的一阶差分，列表格式为['年月日等'str,'数量'int]
    import

In [22]:
with open('C:/Users/jiangdanni/gitdata/gitdata/data/alibaba_fastjson/forks.json','r') as f:
    data = []
    for line in f.readlines():
        data.append(line)
data[0]

'"2018-04-16T15:40:32Z"\n'

In [32]:
data_list = get_nums_year(data)

In [33]:
import pandas as pd

df = pd.DataFrame(data_list)

In [36]:
df

      0     1
0  2018   315
1  2017  1289
2  2016  1120
3  2015   752
4  2014   355
5  2013   173
6  2012    54
7  2011     2

In [37]:
df2 = df.drop(0)

      0     1
1  2017  1289
2  2016  1120
3  2015   752
4  2014   355
5  2013   173
6  2012    54
7  2011     2